.footer{
  height: 108px;
  background-color: #6A6A6A;
}
.footer__text{
    font-weight: 400;
    font-size: 11px;
    color: #ffffff;
    vertical-align: middle;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }