
.special__title{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.025em;
    padding-top: 100px;
    padding-bottom: 20px;

    @include media-lg-max{
        font-size: 30px;
        padding-top: 60px;
        padding-bottom: 14px;
    }
    @include media-md-max{
        font-size: 26px;
        padding-top: 50px;
        padding-bottom: 12px;
    }
    @include media-sm-max{
        font-size: 20px;
        padding-top: 40px;
        padding-bottom: 10px;
    }
}
.special__subtitle{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #6B7280;
    padding-top: 20px;
    padding-bottom: 48px;

    @include media-lg-max{
        padding-bottom: 35px;
    }
    @include media-md-max{
        font-size: 18px;
        padding-bottom: 25px;
    }
    @include media-sm-max{
        font-size: 16px;
        padding-bottom: 20px;
    }
}

.special__icons{
    display: flex;
    width: 100%;
    gap: 15px;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 30px;
    @include media-md-max{
        display: none;
    }
}
.special__icon-button{
    width: 30px;
    height: 30px;
    border: none;
}
.special__icon-button--active{
    color: red;
}